{% extends "base.html" %}
{% load cms_tags %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}

{% block content %}

<class id="map"></div>
	
	<div id="over_map">
		
		<div class="panel-group" id="accordion">
			
			<div class="panel panel-default">
				
				<div class="panel-heading">
					<h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Historical flood tool</a></h4>
				</div>
				<div id="collapse1" class="panel-collapse collapse in">
					<div class="panel-body">
						<p>Select period</p>
						<div id="aoiControl" data-slider-id='aoiControlSlider'/></div>  
						<p>&nbsp;</p>
						<button id="updateWaterMap">show map</button>	
					</div>
				</div>
			</div>
  
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Land Cover</a></h4>
				</div>
				
				<div id="collapse2" class="panel-collapse collapse">
					<div class="panel-body">
					<p>&nbsp;</p>
					<p>Select catagorie(s) of interest</p>
						<div class="legend-value">
							<p><div class="legend-block" style="background-color: #aec3d4;"></div><label><input type="checkbox" class="lcbox" value="1" >Surface Water</label></p>
							<p><div class="legend-block" style="background-color: #b1f9ff;"></div><label><input type="checkbox" class="lcbox" value="2" >Snow and Ice</label></p>
							<p><div class="legend-block" style="background-color: #152106;"></div><label><input type="checkbox" class="lcbox" value="5" >Deciduous forest</label></p>
							<p><div class="legend-block" style="background-color: #486f50;"></div><label><input type="checkbox" class="lcbox" value="9" >Evergreen needleleaf</label></p>
							<p><div class="legend-block" style="background-color: #cc0013;"></div><label><input type="checkbox" class="lcbox" value="12" >Urban and Built Up</label></p>
							<p><div class="legend-block" style="background-color: #674c06;"></div><label><input type="checkbox" class="lcbox" value="17" >Barren</label></p>
							<p><div class="legend-block" style="background-color: #3bc3b2;"></div><label><input type="checkbox" class="lcbox" value="18" >Ephemera Water</label></p>
							<p><div class="legend-block" style="background-color: #f4a460;"></div><label><input type="checkbox" class="lcbox" value="19" >Grassland</label></p>
							<p><div class="legend-block" style="background-color: #800080;"></div><label><input type="checkbox" class="lcbox" value="20" >Shrubland</label></p>
						<p>&nbsp;</p>
					  
					</div>
				</div>
			</div>	
		
		
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
					<a data-toggle="collapse" data-parent="#accordion" href="#collapse3">Satellite imagery</a></h4>
				</div>
				
				<div id="collapse3" class="panel-collapse collapse">
					<div class="panel-body">
						<p>&nbsp;</p>					
						<p><button id="updateRecent">show recent image</button></p>
						<p>&nbsp;</p>		
						<p><button id="updateSummer">Summer composite</button></p>		
						<p>&nbsp;</p>	
						<p><button id="updateWinter">Winter composite</button></p>	
						<p>&nbsp;</p>	
					</div>
				</div>			
			</div>			

			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
					<a data-toggle="collapse" data-parent="#accordion" href="#collapse4">Fire risk</a></h4>
				</div>
				
				<div id="collapse4" class="panel-collapse collapse">
					<div class="panel-body">
						<p>&nbsp;</p>					
						<p><button id="updateFire">show Fire risk</button></p>
						<p><button id="rxburn">layer 1</button></p>
						<p><button id="nonFire">layer 2</button></p>
						<p><button id="FireP">layer 3</button></p>
					</div>
				</div>			
			</div>

			
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapse5">Clear map</a></h4>
				</div>
				
				<div id="collapse5" class="panel-collapse collapse">
					<div class="panel-body">
						<p>&nbsp;</p>					
						<button id="clear">Clear</button>		
						<p>&nbsp;</p>
					</div>
				</div>		
			</div>				
		
		</div>
	</div>


 
 	<script>
	$('#aoiControl').slider({
		tooltip_position: 'top',
		range:true,
		min:1984,
		max:2015,
		values:[1985,2014],
		step:1,
		formatter: function(value) {
		return 'year: ' + value;
		}
		});
	</script>


	<script>
	
	// Here we get the mapid and token for the map tiles that were generated by Earth Engine using the Python script server.py and injected using the Jinja2 templating engine.
	boot(
          '{{ eeMapId | safe }}',
          '{{ eeToken | safe }}');
	</script>


<class id="box"></div>


{% endblock content %}



